name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-app:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Node.js APP
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: install dependency
        run: yarn install

      - name: run build
        run: yarn build

  build-docker-image:
    runs-on: ubuntu-latest
    needs: ['build-app']
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Restore cache
        uses: actions/cache@v2
        with:
          path: ./
          key: node-cache-Linux-yarn-${{ hashFiles('**/yarn.lock') }}

      - name: build docker image
        run: docker build -t user-api:latest .
